.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 90% 10%;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s;
}

.popup {
    background-color: rgba(209, 208, 207, 0.7);
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.5);
}

.popup img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 1vw;
}

.image-column {
    height: 100%;
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: rgba(209, 208, 207, 0.7);
    overflow-y: auto;
    align-items: center;
    padding-left: 0.5vw;
    border-left: 2px solid var(--pimary-button-background-color);

    img {
        position: relative;
        left: 0;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-radius: 1vw;
    }

    img:hover {
        left: -0.5vw;
    }
}