.slide {
    width: 100vw;
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    display: grid;
    grid-template-rows: 6% 6% 88%;
}