.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); 
    gap: 4%;
    justify-items: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 1vw;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
